body{font:normal 12px/16px Arial,sans-serif}
#container{width:1150px; margin:0 auto;}
header{float:left;width: 100%}
nav{float:left;width:100%}
nav ul, nav ul li{display:inline;} 
section article{float:left;width:80%}
section aside{float:left;width:20%}


